[project]
	description = Server to convert multicast/unicast streams into http based unicast
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dmytro Vovk (dmitry-vovk)
[access "refs/for/refs/*"]
	read = group user/Dmytro Vovk (dmitry-vovk)
	push = group user/Dmytro Vovk (dmitry-vovk)
	label-Code-Review = -2..+2 group user/Dmytro Vovk (dmitry-vovk)
	label-Verified = -1..+1 group user/Dmytro Vovk (dmitry-vovk)
	rebase = group user/Dmytro Vovk (dmitry-vovk)
	removeReviewer = group user/Dmytro Vovk (dmitry-vovk)
	submit = group user/Dmytro Vovk (dmitry-vovk)
[access "refs/heads/*"]
	read = group user/Dmytro Vovk (dmitry-vovk)
	create = group user/Dmytro Vovk (dmitry-vovk)
	push = +force group user/Dmytro Vovk (dmitry-vovk)
	pushMerge = group user/Dmytro Vovk (dmitry-vovk)
[access "refs/tags/*"]
	push = +force group user/Dmytro Vovk (dmitry-vovk)
	pushTag = group user/Dmytro Vovk (dmitry-vovk)
	pushSignedTag = group user/Dmytro Vovk (dmitry-vovk)
